
.navbar_laika {
    padding: 0 50px;
    background-color: #603e85;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 40px;
    font-size: 12px;
    letter-spacing: -1;
}

.social_media > div {
    padding: 5px;
}

.social_media > div > span.underlined {
    margin-left: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}

.social_media > div > span {
    margin-left: 10px;
}

.navbar_laika {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 70px 10px 70px;
}

.navbar_laika > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_laika > div > img {
    margin-right: 30px;
    width: 40px;
}

.menuRes {
    display: none;
}

.form_search {
    margin-right: 15px;
}

.form_search > form > input {
    border-radius: 5px;
    border: none;
    padding: 3px;
    width: 300px;
}

.form_search > form > button {
    position: relative;
    left: -10px;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.form_city > form {
    display: flex;
    align-items: center;
}

.form_city > form > img {
    width: 20px;
}

.form_city > form > select {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
}

.info_user i {
    color: white;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.452);
    padding: 6px;
    border-radius: 1rem;
}

.info_user > span {
    color: white;
    font-size: 13px;
    margin-right: 20px;
}

.cart > span {
    position: relative;
    background-color: rgb(255, 36, 36);
    font-size: 10px;
    color: white;
    padding: 0 5px;
    bottom: 10px;
    left: 25px;
    border-radius: 100%;
}

.cart i {
    color: white;
}

@media only screen and ( min-width: 200px ) and (max-width: 767px) {
    .social_media {
        display: none;
    }

    .navbar_laika {
        width: 100%;
        position: relative;
        top: -20px;
    }

    .navbar_laika > div {
        left: -60px;
        position: relative;
        width: 100%;
        top: 30px;
    }

    .navbar_laika > div > img {
        position: relative;
        right: -60px;
    }

    .navbar_laika > i.menuRes {
        position: relative;
        top: 25px;
        display: block;
        color: white;
        font-size: 40px;
        width: 30px;
    }

    .navbar_laika {
        display: grid;
        grid-template-rows: 1fr;
        padding: 0 10px;
    }

    .form_search {
        margin: 0;
    }

    .form_search > form {
        position: relative;
        right: -40px;
        top: -10px;
        bottom: -20px;
    }

    .form_search > form > input  {
        position: relative;
        top: 20px;
        width: 280px;
    }

    .form_search > form > button {
        top: -6px;
        left: 235px;
    }

    .form_city > form {
        position: relative;
        bottom: 55px;
        right: 40px;
    }

    .info_user {
        display: none;
    }

    .cart {
        position: relative;
        top: -108px;
        right: -390px;
    }

    .cart > span {
        display: block;
        top: 12px;
        left: 7px;
    }
}